<div class="flex justify-center mt-2">
    <div class="text-left w-full sm:w-1/2 sm:text-sm font-normal">
        <p class="border-b text-sm mb-1 font-semibold">Type</p>
        <p class="mb-3"><%= @waste_type.name %></p>
        <% if @waste_type.description.present? %>
            <p class="border-b text-sm mb-1 font-semibold">Description</p>
            <p class="mb-3"><%= @waste_type.description %></p>
        <% end %>
        <% if @waste_type.instructions.present? %>
            <p class="border-b text-sm mb-1 font-semibold">Disposal instructions</p>
            <p class="mb-3"><%= @waste_type.instructions %></p>
        <% end %>
        <% if @waste_type.irregular_frequency.present? %>
            <p class="border-b text-sm mb-1 font-semibold">Irregular collection frequency</p>
            <p class="mb-3"><%= @waste_type.irregular_frequency %></p>
        <% end %>
    </div>
</div>
<div class="space-y-4 mt-2">
    <%= link_to "Edit", edit_waste_type_path(@waste_type), class: "main-button w-full sm:w-1/2 inline-flex items-center justify-center px6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-teal-500 hover:bg-teal-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-800" %>
    <%= button_to "Delete", waste_type_path(@waste_type), class: "main-button w-full sm:w-1/2 inline-flex items-center justify-center px6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-teal-500 hover:bg-teal-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-800", method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete #{@waste_type.name}?" } } %>
</div>
